
/* ------------MENU FEEL MELO---------------- */

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #0055ff;
    width: 100%;
    /*   overflow-x: hidden; */

    @media screen and (max-widthpx) {
        display: block;
        width: 100%;
        padding: auto;

    }



    /* Adding a light background for better contrast */
}

/* Nuevos estilos */

#menu {
    width: 255px;
    /* Light gradient background */
    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.1);
    /* Soft shadow for depth */
    height: 100vh;
    padding: 25px 0;
    font-size: 22px;
    position: fixed;
    transition: all 0.3s;
    /* Smooth transition for all properties */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#menu::before {
    content: "";
    position: absolute;
    top: 50px;
    /* Ajusta este valor para controlar dónde comienza la línea */
    right: 0;
    bottom: 0;
    width: 1px;
    background-color: #1763E4;

}

#menu a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    /* Vertically centers icon and text */
    padding: 10px 25px;
    /* Increased left-right padding */
    transition: color 0.3s, background 0.3s;
    border-radius: 5px;
    /* Rounded corners for hover effect */
}

#menu a:hover {
    color: #555;
    background-color: #e8e8e8;
    /* Light background on hover */
}

#menu i {
    color: #333;
    font-size: 24px;
    margin-right: 10px;
    transition: transform 0.3s;
    /* Transition for icon animations */
}

#menu a:hover i {
    transform: rotate(5deg);
    /* Small rotation on hover for a playful effect */
}

.dashboard-title img {
    max-width: 60%;
    /* Increased size slightly */
    height: auto;
    display: block;
    margin: 20px auto 30px auto;
    /* Adjusted margin for better spacing */
    transition: transform 0.3s;
    /* Smooth transition for image interactions */
}

.dashboard-title img:hover {
    transform: scale(1.05);
    /* Slight zoom on hover */
}


/* ---------------------------lineas------ debajo------- del --------menu ----------*/
.links .col {
    position: relative;
    /* Esto permite que el pseudo-elemento se posicione relativo a este contenedor */
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.links .col::before {
    content: "";
    /* Esto es necesario para que el pseudo-elemento se muestre */
    position: absolute;
    bottom: 0;
    /* Posiciona el borde en la parte inferior de .col */
    left: 35%;
    /* Empieza en el centro del elemento */
    transform: translateX(-50%);
    /* Centra el borde */
    width: 40%;
    /* Ajusta este valor para controlar la longitud del borde */
    height: 1px;
    background-color: #1763E4;
}

.links .col:last-child::before {
    display: none;
    /* Oculta la línea del último elemento */
}

.links .col:nth-child(1)::before {
    background-color: #003366;
}

/* Azul oscuro */
.links .col:nth-child(2)::before {
    background-color: #004480;
}

.links .col:nth-child(3)::before {
    background-color: #0055aa;
}

.links .col:nth-child(4)::before {
    background-color: #0066cc;
}

.links .col:nth-child(5)::before {
    background-color: #0077ee;
}

.links .col:nth-child(6)::before {
    background-color: #3399ff;
}

.links .col:nth-child(7)::before {
    background-color: #66bbff;
}

.links .col:nth-child(8)::before {
    background-color: #99ccff;
}

.links .col:nth-child(9)::before {
    background-color: #cce0ff;
}

/* Azul claro */


/* estilos del boton TOP ------------------------------------------------- */
.top-menu {
    position: relative;
}

.top-dropdown {
    display: none;
    /* Starts off hidden */
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* ---------------T------------------------- */
/* CALIFICAR IMGS, DETALLES ETC.. */
.comentario {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
    direction: ltr;
}

.rating-section {
    display: none;
}

.calificar {
    width: 100%;
    max-width: 300px;
    background-color: #007BFF;
    color: #FFFFFF;
    height: 60px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin: 0 auto;

}

.btn-primary {
    width: 100%;
    max-width: 300px;
    border-radius: 30px;
    height: 60px;
    margin: 0 auto;
}

.btn-succes {
    border-radius: 10px;
    padding: 1%;
    width: 20%;
    font-family: ui-serif;
    color: blue;
}



.imagen {
    font-size: 18px;
}

/* -------------------------------------------------- */
/* CALIFICACIONES IIMGS */

/* calificacion------------------------------------------------------------------------------------------------------- */
.bi-star {
    color: grey;
}

.bi-star-fill {
    color: gold;
}

/* .input-group{
    background-color: #007BFF;
color:blue;
border-radius: 10px;
} */



/* estrellas -----------------------------------*/
.starability-fade {
    direction: rtl;
    /* Mantiene las estrellas en el orden correcto */
    font-size: 45px;
    position: relative;
    text-align: center;
    top: 10px;
    cursor: pointer;
    /* Cambia el cursor a una mano cuando pasa por encima */
}

.starability-fade .input-no-display {
    display: none;
}

.starability-fade label {
    opacity: 0.5;
    /* Estrella inicialmente apagada */
    margin-right: 5px;
    /* Espacio entre estrellas */
    transition: opacity 0.2s linear;
    /* Transición suave al cambiar la opacidad */
}

/* Estrella dorada al pasar el puntero */
.starability-fade label:hover,
.starability-fade label:hover~label {
    opacity: 1;
    color: gold !important;
}


.starability-fade input:checked~label {
    opacity: 1;
    /* Estrella completamente iluminada cuando se selecciona */
    color: gold;
    /* Color dorado cuando se selecciona */
}

/* --------------------------------------------- */

/* ver detalles sdsdsdsd ... */
/* Oculta los radios */
.input-no-display {
    display: none;
}

/* Estilo para el modal */
.modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    display: flex;
    /* Cambia a modo flex para colocar los elementos en fila */
}

/* Estilo para la imagen en el modal */
.expanded-image {
    flex: 1;
    /* Ocupar el 50% del ancho del modal */
    text-align: center;
    /* Centrar la imagen horizontalmente */
}

.expanded-image img {
    max-width: 100%;
    max-height: 300px;
    /* Establece una altura máxima para la imagen */
}

.calificaciones-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Tres columnas por fila */
    gap: 20px;
    /* Espacio entre las tarjetas */
}

/* Estilos para el botón de cierre del modal */
.close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
}

/* diseño borde completo modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Más estilos CSS existentes ...--------------------------------------------------- */
/* estilos del 3 container arreglos.......................................... */
/* 3 CONTAINER ... --------------------------------------------------------------------------------------------------------- */
/* Global Styles */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.main-containerr {

    justify-content: center;
    text-align: center;
    padding: 20px;
    /* Added padding for breathing room */
}

/* ---------------------------------------------------------------------------------------- */
/* ---------------PERFIL DE LA PERSONA ------------*/

.container__img__perfil{
    position: absolute;
    right: 400px;
    position: fixed;
}


.profile-image {
    width: 162px;
    /* Slightly increased for better emphasis */
    height: 156px;
    /* Synchronized with width */
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
    font-family: ui-sans-serif;

    /* Added space */

}

.profile-image img {
    width: 100%;
    /* Adjusted for consistent image display */
    height: 100%;
    /* Adjusted for consistent image display */
    object-fit: cover;

}

.editar__perfil{
    display: flex;
    justify-content: space-around;
    font-family: ui-serif;
    font-size: 20px;
}

.profile-details {
    flex: 1;
}

.profile-title {

    font-weight: bold;
    color: #333;
    /* Slightly darker text */

}

.profile-description {
    margin-left: 138px;
    font-size: 24px;
    color: #1763E4;
    margin-top: -5px;
    /* Slight adjustment */
}

/* --------------------------------------------------------------------------------- */
/*---------------------- ESTILOS CONTAINER 2 DE LAS CARTAS ............----------------- */
/* cartas css slider----------------------------------------------------------------------------------- */

/* Tema Suave */
body {
    background-color: #f7f7f7;
    color: #333;
    font-family: 'Arial', sans-serif;

}

/* Estilo Base de la Tarjeta ---------------------------*/
.card {
    background: #ffffff;
    border-radius: 20px;
    /* Bordes muy redondeados */

    padding: 15px;
    width: 100%;
    margin-bottom: 25px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
    transition: transform 0.3s, box-shadow 0.3s;
}

img.card-img-top {
    border-radius: 36px;
    object-fit: cover;
}

.card-img-top {
    width: 100%;
    height: 360px;
    margin-left: -20px;
    margin: 0 auto;
}

p {

    margin-bottom: 1rem;
    text-align: start;
}

.card-body {
    display: flex;
    flex-direction: column;
    padding: 20px;

}

.card-title {
    background-color: 1763E4;
    margin-bottom: var(--bs-card-title-spacer-y);
    color: #1763E4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

.card-text {
    color: black;
}

.description-text {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    margin-left: -23px;
}

p31 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    margin-left: -23px;
}

p30 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    margin-left: -23px;
}

/* ------------------t-------------------------------------------------------- */
/* CONTAINER SIU */
.containere-border {

    width: 904px;
    height: 5000px;
    text-align: center;
    padding: 20px;
    /* Ajusta según tus necesidades */
    margin-left: -80px;
    color:#6992DB;
    position: absolute;
}

.containere-border,
.containere-border * {


    box-shadow: none !important;
    /* Elimina cualquier sombra que pueda aparecer como un borde */
    outline: none !important;
    font-family: iu-serif;
    font-size: 20px;
    /*  color:#0a49b1; */

}

#search-box {
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
}

#search-box i {
    font-size: 30px;
    color: blue;
    margin-right: 10px;
}


/* ------------CSS ----- DE --- TU OPINION DOBRE----- */
.opinion-container .input-group input{
    font-family: Arial, sans-serif;
    width: 200px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    padding-bottom: 15px;
    margin-bottom: 15px;
    background-color: #e4ebf3;
    border-radius: 15px;
    padding: 2px;

}

label {
    display: block;
    margin-bottom: 8px;
}

.opinion-textarea {
    width: 101%;
    height: 105px;
    margin-bottom: 10px;
    padding: 10px;
    top: 30px;
    background-color: rgba(23, 99, 228, 0.05);
    overflow: hidden;
    border-radius: 15px;
    margin-top: -20px;
    border: none;
    resize: none;
}

/* Estilos para las estrellas */
.rating {
    width: 180px;
    display: flex;
    direction: rtl;
    /* para que el primer radio button sea la estrella 5 */
    justify-content: flex-start;
    /* alinea los elementos al inicio del contenedor */
    margin-top: -18px;

}


.rating input[type="radio"] {
    display: none;

}

.rating label {
    font-size: 44px;
    cursor: pointer;
    color: #ccc;

}

.rating input[type="radio"]:checked~label,
.rating label:hover,
.rating label:hover~label {
    color: #1763E4;

}

.file-label {
    display: block;
    background-color: #eee;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 690px;
    width: 160px;
    margin-top: -57px;
    color: #1763E4;

}

@font-face {
    font-family: 'Goffik';
    src: url('CSS/font/Goffik-O.ttf') format('truetype');
}

.estilo_opinion {
    text-align: start;
    font-size: 50px;
    font-family: ui-serif;
    color: #1763E4;
    padding: 10px 0px;
}

.submit-btn {
    background-color: #007BFF;
    color: white;
    padding: 13px 18px;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    margin-top: -40px;
}

/* adjuntar archico boxicons */
.file-label {
    display: flex;
    /* Establece la etiqueta como contenedor Flexbox */
    align-items: center;
    /* Alinea verticalmente el texto y el ícono */
    cursor: pointer;
    /* Estilo de cursor cuando se pasa sobre el texto o el ícono */
}

.file-label box-icon[name='plus-circle'] {
    color: #1763E4;
    margin-left: 5px;
}



/* ------------------------------------------------------ */
/* 2 CONTAINER--- ----- -------- */
#search-box {
    font-family: 'Roboto', sans-serif;
    /* Usamos la fuente Roboto */
    width: 857px;
    /* Ancho del contenedor */
    height: 70px;
    /* Alto del contenedor */
    align-items: center;
    border-color: #1763E4 !important;
    /* Cambiamos el color del borde a azul */
    border-radius: 25px;
    /* Bordes redondeados */

}

#search-box i {
    margin-right: 10px;
    /* Espacio entre el ícono y el input */
}

#search-input {
    width: 100%;
    /* El input ocupa todo el espacio restante */
    height: 100%;
    font-size: 22px;
    /* Tamaño de la letra */
    border: none;
    background-color: transparent;
}

.col {
    margin-left: 30px;
}

/* -------------------T---------------------------- */
/*-------------- ----------COMENTARIOS CONT --------------------*/
#comen-box {
    font-family: 'Roboto', sans-serif;
    width: 850px;
    height: 45px;
    align-items: center;
    /* Cambiamos de start a center para alinear verticalmente */
    border-color: #1763E4 !important;
    border-radius: 13px;
    display: flex;
    border: 1px solid #ccc;
    padding: 10px;
    margin-left: -20px;
}

#comen-input {
    width: 90%;
    /* Reducimos un poco el ancho para dejar espacio al botón */
    height: 100%;
    font-size: 20px;
    border: none;
    background-color: transparent;
    outline: none;
    /* Elimina el borde azul que aparece al hacer foco */
}

#comen-submit {

    border: none;

    font-size: 20px;
    /* Color del ícono */
    color: #1763E4;
    /* Centramos el ícono dentro del botón */
    display: flex;
    align-items: center;

    margin-left: 90px;
}

#comen-submit:hover {
    color: #0a49b1;
    /* Cambiamos el color al pasar el ratón por encima */
}

/* ------------------------t------------------------------------------------------------------------ */
/* -------ESTRELLA SDEL PROMEDIO DE LAS CARTAS-------------------------------------------------- */
.u {
    text-align: end;
    color: #1763E4;
    font-size: 25px;
}

.compact-file-input {
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: #d8e2ef;
    color: #333;
    cursor: pointer;
    margin-left: 660px;
}


.compact-file-input:focus {
    outline: none;
    /* Quita el contorno cuando el botón está enfocado */
}

.compact-file-input::file-selector-button {
    padding: 5px 10px;
    /* Ajusta el espaciado interno del botón para algunos navegadores */
}

/* ESTILO DE LAS ESTRELLAS QUE CAMBIAN A COLOR DORADO */

.rating-container {
    position: relative;
    display: inline-block;
    font-size: 50px;
}

.rating-container input[type="radio"] {
    display: none;
}

.rating-container label {
    cursor: pointer;
    display: inline-block;
    width: 1em;
    padding-right: 0.1em;
    font-size: 50px;
}




.rating-container input[type="radio"]:checked~label:before {
    color: gold;

}

.contact-form {
    font-size: 20px;
    font-family: ui-serif;
}

.publicar {
    background-color: rgb(231, 231, 231);
    border-radius: 10px;
    width: 110px;
    color: #007BFF;
    padding: 8px;
}

.fa-regular fa-image {
    width: 10px;
    padding: 10px;

}

label.input-group-text {
    margin-left: 20px;
    margin-top: 40px;
}

.img-cont{
width: 100%;
}

img, svg {
    vertical-align: middle;
    width: 110px;
   
}

@media (min-width:680px) and (max-width:1200px) {
    
}

@media only screen and (max-width: 600px) {
    #body {
        width: auto;
        padding: auto;
    }

}

@media (max-width: 949px) {
    #menu {
        width: 100%;
        height: auto;
        position: relative;
        box-shadow: none;
    }

    .content-container {
        margin-left: 0;
        padding: 10px;
        border-right: none;
    }

    .card-img-top {
        margin-left: 0px;
        padding: 0px;
        object-fit: cover;
    }

    .btn-primary {
        width: 100%;
        margin: 0 auto;
    }

    .containere-border {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        /* max-width: 300px; */
        margin-left: -12px;
    }


    #search-box {
        width: 100%;
        max-width: 300px;
        margin-left: 20px;
    }

    .container__img__perfil {
        position: sticky;
        flex-wrap: wrap;
        right: 0px;
        width: 100%;
        height: 100%;

    }
    @media(min-width:770px)and(max-width:1100px){
        .container__img__perfil{
            height: 50%;
            width: 50%;
        }
    }

    .profile-image {
        margin: 0 auto;
    }

    p.card-text {
        text-align: center;
    }

    .border {
        border: none !important;
    }

    .col-sm-3 {
        flex: 0 0 auto;
        width: 100% !important;
    }

    .modal-content {
        width: 100%;
        max-width: 400px;
    }

    .rating-container {
        font-size: 0px;
    }

    .calificaciones-container {
        gap: 0px; 
    }

    .modal-content {
        width: 86%;
    }

    .containere-border, .containere-border * {
        margin-left: 3px;
    }
}

/* @media (max-width: 576px) {
    .col-sm-3 {
        flex: 0 0 auto;
         width: 100% !important;  
    }
}
 */